#div-create-module{
    width: auto !important;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1.5%;
    height: 10vh;
    border-bottom: 1px solid gray;
 }
 
 #bt-create-module{
     margin-top: 3vh;
 }
 
 #i-plus-symbol{
     font-size: 13px !important;
     margin-right: 0.5vw;
 }
 
 #table-create-module, th, td{
     border: 1px solid lightgray;
 }
 
 .td-row-left, .td-row-right{
     padding: 0.6vh 0.5vh;
 }
 
 .td-row-right{
     width: 30vw
 }
 
 input{
     width: 100%;
     border: 1px solid black;
     border-radius: 5px;
 }
 
 input:focus{
     outline: none !important;
     box-shadow: 0 0 4px rgb(255, 200, 0);
 }
 
 input:hover{
     border: 1px solid rgb(255, 200, 0);
}

#div-create-module{
    margin-top: 1vh;
}

#bt-submit-close, #bt-submit-open, #bt-submit-new{
    width: 20%;
    margin-top: 2vh;
}

#bt-submit-close, #bt-submit-open{
    margin-right: 20%;
}