#i-plus-symbol{
     font-size: 13px !important;
     margin-right: 0.5vw;
 }
 
#btn-submit-close, #btn-submit-open, #btn-submit-new{
    width: 20%;
    margin-top: 2vh;
}

#btn-submit-close, #btn-submit-open{
    margin-right: 20%;
}

#btn-add-variations,#btn-remove-variations {
    display: flex;
    justify-content: center;
    align-items: center;
}

li{
    margin-bottom: 0.5vh;
}