<ng-container *ngIf="rendered==true">
    <app-edit-module></app-edit-module>
    
    <div id="div-detail-module">
        <table id="table-detail-module">
                <tr>
                    <td class="td-row-left" ><label>Modulbezeichnung</label></td>
                    <td class="td-row-right"><p >{{module.moduleName}}</p></td>
                </tr>
                <tr>
                    <td class="td-row-left" ><label>Kürzel</label></td>
                    <td class="td-row-right"><p>{{module.abbreviation}}</p></td>
                </tr>
                
                <ng-container *ngFor="let variation of module.variations">
                    <tr>
                        <td colspan="2">
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-row-left" ><label>SPO</label></td>
                        <td class="td-row-right"><p>{{variation.spo.course}} vom {{variation.spo.startDate}} bis zum {{variation.spo.endDate}}</p></td>
                    </tr>
                    <tr>
                        <td class="td-row-left" ><label>Semester</label></td>
                        <td class="td-row-right"><p>{{variation.semester}}</p></td>
                    </tr>
                    <tr>
                        <td class="td-row-left" ><label>Lehrform / SWS</label></td>
                        <td class="td-row-right"><p>{{variation.sws}}</p></td>
                    </tr>
                    <tr>
                        <td class="td-row-left" ><label>Leistungspunkte / ECTS</label></td>
                        <td class="td-row-right"><p>{{variation.ects}}</p></td>
                    </tr>
                    <tr>
                        <td class="td-row-left" ><label>Arbeitsaufwand</label></td>
                        <td class="td-row-right"><p [innerHTML]="variation.workLoad | sanitizeHtml"></p></td>
                    </tr>
                    <tr>
                        <td class="td-row-left" ><label>Kategory</label></td>
                        <td class="td-row-right"><p>{{variation.category}}</p></td>
                    </tr>
                </ng-container>
                <tr>
                    <td colspan="2">
                        <hr>
                    </td>
                </tr>
                <tr>
                    <td class="td-row-left" ><label>Angebotsturnus</label></td>
                    <td class="td-row-right"><p>{{module.cycle}}</p></td>
                </tr>
                <tr>
                    <td class="td-row-left" ><label>Dauer des Moduls</label></td>
                    <td class="td-row-right"><p>{{module.duration}}</p></td>
                </tr>
                <tr>
                    <td class="td-row-left" ><label>Modulverantwortliche(r)</label></td>
                    <td class="td-row-right"><p>{{module.moduleOwner.title}} {{module.moduleOwner.firstName}} {{module.moduleOwner.lastName}}</p></td>
                </tr>
                <tr>
                    <td class="td-row-left" ><label>Dozent(in)</label></td>
                    <td class="td-row-right"><p *ngFor="let prof of module.profs">{{prof.title}} {{prof.firstName}} {{prof.lastName}}</p></td>
                </tr>
                <tr>
                    <td class="td-row-left" ><label>Sprache</label></td>
                    <td class="td-row-right"><p>{{module.language}}</p></td>
                </tr>
                <tr>
                    <td class="td-row-left" ><label>Nutzung in anderen Studiengängen</label></td>
                    <td class="td-row-right"><p>{{module.usage}}</p></td>
                </tr>
                <tr>
                    <td class="td-row-left" ><label>Zulassungvoraussetzungen</label></td>
                    <td class="td-row-right"><p>{{module.admissionRequirements}}</p></td>
                </tr>
                <tr>
                    <td class="td-row-left" ><label>Inhaltliche Voraussetzung</label></td>
                    <td class="td-row-right"><p>{{module.knowledgeRequirements}}</p></td>
                </tr>
                <tr>
                    <td class="td-row-left" ><label>Qualifikationsziele/Kompetenzen</label></td>
                    <td class="td-row-right"><p [innerHTML]="module.skills  | sanitizeHtml"></p></td>
                </tr>
                <tr>
                    <td class="td-row-left" ><label>Lehrinhalte</label></td>
                    <td class="td-row-right"><p [innerHTML]="module.content  | sanitizeHtml"></p></td>
                </tr>
                <tr>
                    <td class="td-row-left" ><label>Endnotenbildende Studien-/Prüfungsleistung</label></td>
                    <td class="td-row-right"><p>{{module.examType}}</p></td>
                </tr>
                <tr>
                    <td class="td-row-left" ><label>Sonstige Leistungsnachweise</label></td>
                    <td class="td-row-right"><p>{{module.certificates}}</p></td>
                </tr>
                <tr>
                    <td class="td-row-left" ><label>Medienform</label></td>
                    <td class="td-row-right"><p>{{module.mediaType}}</p></td>
                </tr>
                <tr>
                    <td class="td-row-left" ><label>Literatur</label></td>
                    <td class="td-row-right"><p [innerHTML]="module.literature  | sanitizeHtml"></p></td>
                </tr>
                <tr>
                    <td class="td-row-left" ><label>Mutterschutz</label></td>
                    <td class="td-row-right"><p>{{module.maternityProtection}}</p></td>
                </tr>
        </table>
    </div>
</ng-container>