#table-detail-module{
    width: 100% !important;
 }

 th, td{
   border: 1px solid lightgray;
 }

 .td-row-left{
    width: 40%;
 }
 .td-row-right{
    width: 60%;
 }
 
 .td-row-left, .td-row-right{
     padding: 0.6vh 0.5vh;
 }