<div class="border rounded p-2">
  <h6>{{header}}</h6>

  <ul class="list-group list-group-flush">
    <li class="list-group-item d-flex justify-content-between" *ngFor="let item of list; let i=index">
      <span>- {{item}}</span>
      <button class="btn text-danger p-0 m-0" type="button" id="btn-del-{{header}}-{{i}}" (click)="delete(i)">
        <i class="bi bi-trash3"></i>
      </button>
    </li>
  </ul>

  <form class="input-group mb-3" (ngSubmit)="add()">
    <input class="form-control" placeholder="..." [(ngModel)]="inputVal" name="input-val" required>
    <button class="btn btn-outline-secondary" type="submit" id="add-string-{{header}}">Hinzufügen</button>
  </form>
</div>
