
ul.nav li.nav-item a.nav-link.active {
  color: #212529 !important;
}

ul.nav li.nav-item a.nav-link:not(.active) {
  color: rgb(73, 80, 87) !important;
}

ul.nav li.nav-item a.nav-link:not(.active):hover{
  color: #212529 !important;
  cursor: pointer;
}
