#div-module-list{
    margin: auto !important;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    display: inline-block; 
}

.clickable{
    cursor: pointer;
}

.clickable:hover{
    background-color: rgb(248,249,250);
}