<div class="container pt-4 pb-4">
    <button type="button" class="btn btn-lg btn-outline-secondary" >
        <i class="bi bi-plus-lg fs-5"></i>
        Neues Modulhandbuch
    </button>
    <hr>
    <p-dataView #dv [value]="moduleManuals" [paginator]="true" [rows]="5" [sortField]="sortField" [sortOrder]="sortOrder"
    [emptyMessage]="emptyMessage" filterBy="spo.course">
        <!--Data-View Headerleiste-->
        <ng-template pTemplate="header">
          <div class="d-flex flex-row justify-content-between">
            <span class="p-input-icon-left mb-2 md:mb-0">
              <i class="pi pi-search"></i>
              <input type="search" pInputText placeholder="Studienfach" (input)="dv.filter($event.target.value, 'contains')">
            </span>
            <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sortieren nach" (onChange)="onSortChange($event)"
              [style]="{'min-width':'15em'}"></p-dropdown>
          </div>
        </ng-template>

        <!-- Data-View Modulhandbuch-Liste-->
        <ng-template let-moduleManual pTemplate="listItem">
            <div class="block p-3">

                <!-- Overlay-Link für ein Listen-Element, umfasst gesamten "inner"-Block -->
                <a class="overlay" [routerLink]="['/module-manual-detail-view', moduleManual.id]"></a>

                <div class="inner list-group-item d-flex justify-content-between align-items-start">
                    <div class="me-auto">

                        <!-- MH-Titel -->
                        <div class="fw-bold fs-5">{{moduleManual.spo.degree}} {{moduleManual.spo.course}}</div>

                        <!-- MH-Zeitraum -->
                        <span *ngIf="moduleManual.spo.endDate === null; else endDate" class="fs-6 ms-4">
                            Gültig für Studienanfänger ab dem <i>{{getGermanDate(moduleManual.spo.startDate)}}</i>
                        </span>
                        <ng-template #endDate>
                            <span class="fs-6  ms-4">
                                Gültig für Studienanfänger im Zeitraum
                                <i>{{getGermanDate(moduleManual.spo.startDate)}} - {{getGermanDate(moduleManual.spo.endDate)}}</i>
                            </span>
                        </ng-template>

                        <!-- MH-SPO-Link -->
                        <a href="{{moduleManual.spo.link}}" class="ms-4 link-secondary d-block">
                            <i class="bi bi-link-45deg"></i><small>zur Studien- und Prüfungsordnung</small>
                        </a>
                    </div>

                    <!-- MH-Semester-->
                    <span class="badge bg-success rounded-pill">{{moduleManual.semester}}</span>
                </div>
            </div>
        </ng-template>
        <!--<ng-template let-moduleManual pTemplate="gridItem">
            <div class="col-12 md:col-3">
                {{moduleManual.spo.course}}
            </div>
        </ng-template>-->
    </p-dataView>
</div>

