<ul class="list-group list-group-flush">

  <!-- edit general-informations section-->
  <li class="list-group-item pt-3 pb-3">
    <form class="row g-3" [formGroup]="manualFormGroup" (ngSubmit)="submitManual()" id="form-manual">

      <!-- semester-input -->
      <div class="col-md-6">
        <label for="input-semester" class="form-label"><h6>Gültig für das...</h6></label>
        <input type="text" class="form-control" id="input-semester" formControlName="semester" required/>
      </div>

      <!-- spo-select -->
      <div class="col-md-6">
        <label for="select-spo" class="form-label"><h6>Zugeordnete SPO:</h6></label>
        <select class="form-select" id="select-spo" [value]="selectedSpoIndex" (change)="updateSpoForm($event.target.value)">
          <option *ngFor="let spo of spos; let i=index" value="{{i}}">{{spo.degree}} {{spo.course}}
            [{{getSpoTimespan(spo)}}]
          </option>
        </select>
      </div>

      <!-- spo-form-group -->
      <div class="col-md-12 row g-3 p-0 m-0" [formGroup]="spoFormGroup">

        <!--spo: degree-->
        <div class="col-md-2">
          <label for="input-degree" class="form-label"><h6>Abschluss:</h6></label>
          <input type="text" class="form-control" id="input-degree" formControlName="degree"/>
        </div>

        <!--spo: course-->
        <div class="col-md-4">
          <label for="input-course" class="form-label"><h6>Studiengang:</h6></label>
          <input type="text" class="form-control" id="input-course" formControlName="course"/>
        </div>

        <!--spo: start-date-->
        <div class="col-md-3">
          <label for="input-start" class="form-label"><h6>Studienanfänger ab...</h6></label>
          <input type="date" class="form-control" id="input-start" formControlName="startDate"/>
        </div>

        <!--spo: end-date-->
        <div class="col-md-3">
          <label for="input-end" class="form-label"><h6>...bis...</h6></label>
          <input type="date" class="form-control" id="input-end" formControlName="endDate"/>
        </div>

        <!--spo: link-->
        <div class="col-md-12">
          <label for="input-link" class="form-label"><h6>Link zur SPO:</h6></label>
          <input type="text" class="form-control" id="input-link" formControlName="link"/>
        </div>
      </div>

      <!-- first-form-submit-button -->
      <div class="row justify-content-end mt-3">
        <button id="btn-submit-manual" class="btn btn-outline-secondary position-relative" type="submit" >
          Speichern
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success"
          [ngStyle]="{'visibility': firstFormSuccess? 'visible' : 'hidden'}">
            Gespeichert!
          </span>
        </button>
      </div>

    </form>
  </li>

  <!-- upload documents section-->
  <li class="list-group-item pt-3 pb-3">
    <h5 class="card-title mb-3">Dokumente hochladen</h5>

    <form class="row g-4">

      <!-- module-plan: upload & status -->
      <div class="col-md-12">
        <label for="fileinput-moduleplan" class="form-label"><h6>Modulplan (.pdf, .png, .jpeg):</h6></label>

        <div class="input-group">
          <input class="form-control" type="file" id="fileinput-moduleplan" (change)="handleModulePlanFileInput($event.target.files)">
          <button class="btn btn-outline-secondary" type="button" id="btn-upload-module-plan" (click)="submitModulePlan()">Hochladen</button>
        </div>

        <div *ngIf="modulePlanStatus.filename == null; else modulePlanStatusMessage" class="text-danger p-1">
          Es wurde noch kein Dokument hochgeladen.
        </div>
        <ng-template #modulePlanStatusMessage>
          <div class="text-success p-1">
            Datei "<a href="{{modulePlanStatus.link}}" class="link-success">{{modulePlanStatus.filename}}</a>" wurde am {{modulePlanStatus.timestamp}} hochgeladen.
          </div>
        </ng-template>
      </div>

      <!-- preliminary-note: upload & status -->
      <div class="col-md-12">
        <label for="fileinput-preliminary-note" class="form-label"><h6>Vorbemerkungen (.txt, .md):</h6></label>

        <div class="input-group">
          <input class="form-control" type="file" id="fileinput-preliminary-note" (change)="handlePreliminaryNoteFileInput($event.target.files)">
          <button class="btn btn-outline-secondary" type="button" id="btn-upload-preliminary-note" (click)="submitPreliminaryNote()">Hochladen</button>
        </div>

        <div *ngIf="preliminaryNoteStatus.filename == null; else preliminaryNoteStatusMessage" class="text-danger p-1">
          Es wurde noch kein Dokument hochgeladen.
        </div>
        <ng-template #preliminaryNoteStatusMessage>
          <div class="text-success p-1">
            Datei "<a href="{{preliminaryNoteStatus.link}}" class="link-success">{{preliminaryNoteStatus.filename}}</a>" wurde am {{preliminaryNoteStatus.timestamp}} hochgeladen.
          </div>
        </ng-template>
      </div>
    </form>
  </li>

  <!-- edit assignments section -->
  <li class="list-group-item pt-3 pb-3">
    <h5 class="card-title  mb-3">Zuordnungen individualisieren</h5>

    <form class="row g-3" (ngSubmit)="submitAssignments()" id="form-assignments">

      <!-- studyphases/segments-dynamic-list -->
      <div class="col-md-4">
        <app-dynamic-list header="Studienabschnitt" [(list)]="studyphases"></app-dynamic-list>
      </div>

      <!-- moduletypes-dynamic-list -->
      <div class="col-md-4">
        <app-dynamic-list header="Modularten" [(list)]="moduletypes"></app-dynamic-list>
      </div>

      <!-- requirements-dynamic-list -->
      <div class="col-md-4">
        <app-dynamic-list header="Zulassungsvorraussetzungen" [(list)]="requirements"></app-dynamic-list>
      </div>

      <!-- third-form-submit -->
      <div class="row justify-content-end mt-3">
        <button id="btn-submit-assignments" class="btn btn-outline-secondary position-relative" type="submit" >
          Speichern
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success"
          [ngStyle]="{'visibility': thirdFormSuccess? 'visible' : 'hidden'}">
            Gespeichert!
          </span>
        </button>
      </div>
    </form>
  </li>
</ul>
